body {
	background-color: #222;
	text-align: center;
	padding: 6em;
	color: white;
	font-size: 1.2em;
	font-family: sans-serif;
	font-weight: 200;
}

* { outline: none; transition: 200ms; }

.custom {
	font-family: 'Demo', 'Infini', serif;
	font-size: 3.5em;
	line-height: 1.2;
	width: 100%;
	height: 100%;
	color: white;
	border: 0;
	text-align: center;
	background-color: transparent;
}

input[type='text'] {
	width: 100%;
	font-size: 2em;
	text-align: center;
	color: white;
	background-color: transparent;
	border: 1px solid #ce153d;
	line-height: 0;
	padding: 0.5em;
	text-transform: capitalize;
}
input[type='text']:hover,
input[type='text']:focus {
	background-color:  #ce153d;
	color: white;
}

.results {
	margin-bottom: 3em;
}
.results div {
	display: inline-block;
	padding: .3em;
	font-size: 12px;
	letter-spacing: 0.05em;
	color: #ccc;
}
.results div:after {
	content: "|";
	margin-left: 1em;
	color: #ce153d;
}
.results div:last-child:after {
	content: "";
}

#download {
	font-size: .6em;
	padding: 1em;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
#download:hover {
	color: #ce153d;
}
